<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.goodwatch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.upenn.goodwatch.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.upenn.goodwatch.AboutUs"
            android:label="About Us" />
        <activity
            android:name="edu.upenn.goodwatch.MyAccountActivity"
            android:label="My Account" />
        <activity
            android:name="edu.upenn.goodwatch.SideBar"
            android:label="Menu" />
        <activity
            android:name="edu.upenn.goodwatch.LogOutActivity"
            android:label="Log Out" />
        <activity
            android:name="edu.upenn.goodwatch.MovieDetailsActivity"
            android:label="Movie Info" />
        <activity
            android:name="edu.upenn.goodwatch.MovieActivity"
            android:label="Movie Search" />
        <activity
            android:name="edu.upenn.goodwatch.UserSearch"
            android:label="User Search"/>
        <activity
            android:name="edu.upenn.goodwatch.FollowActivity"
            android:label="Follow Activity" />
        <activity
            android:name="edu.upenn.goodwatch.FollowingListActivity"
            android:label="Following List" />
        <activity
            android:name="edu.upenn.goodwatch.FollowerListActivity"
            android:label="Follower List" />
        <activity
            android:name="edu.upenn.goodwatch.WhoIsFollowingUser"
            android:label="Followings" />
        <activity
            android:name="edu.upenn.goodwatch.FollowersofUser"
            android:label="Followers" />
        <activity
            android:name="edu.upenn.goodwatch.HomeActivity"
            android:label="Home Screen" />
        <activity
            android:name="edu.upenn.goodwatch.TopChartsActivity"
            android:label="Top Charts" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="edu.upenn.goodwatch.WatchlistActivity"
            android:label="Watchlist" />
        <activity android:name="edu.upenn.goodwatch.ReviewFormActivity"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>